{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div id="header">
<h1>Registriere dich fürs Zeltlager</h1>
</div>

<div id="main">
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
{% block content %}
<form action="{% url 'save' %}" method="post" class="form">
  {% csrf_token %}

  {% bootstrap_formset formset layout='horizontal' %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "save" %} Absenden
    </button>
    <button type="reset" class="btn btn-primary">
      {% bootstrap_icon "trash" %} Zurücksetzen
    </button>
  {% endbuttons %}
</form>
{% endblock %}
</div>

<div id="footer">
</div>