{# Load internationalization #}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jjbgf - {% trans "registration confirmation" %}</title>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{# Load internationalization #}
{% load i18n %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="header">
</div>

<div id="main" style="margin-left: auto; margin-right: auto; width: 40%;">
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}</div>

<div id="footer">
</div>

</body>
</html>